body {
    background-color: #E6F2E8;
    font-family: Arial, sans-serif;
    color: #333333;
    margin: 0;
    padding: 0;
    background-color: #f0f5f5;
}

h1 {
    color: #4CAF50;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

form {
    margin: 0 auto;
    max-width: 500px;
    padding: 20px;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    background-color: #FFFFFF;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #333333;
    background-color: #F7F7F7;
}

.btn {
    background-color: #04AA6D;
    color: #FFFFFF;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    -webkit-transition: background-color 0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
}