body {
    margin: 0;
    font-family: 'Roboto';
    padding: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.nav li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

.nav li a.active {
    background-color: #04AA6D;
    color: white;
}

.nav li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.container-content {
    margin-left: 15%;
    height: max-content;
}